*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
  
}
html{
    scroll-behavior: smooth
}

.container{
    width: 100%;
    height: 100%;
}

#big_head{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  position: sticky;
}
#main-head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2px 3px;
    background: white;
    box-shadow: 2px 3px 4px grey;
    padding: 10px;
    font-family: fonts "roboto";
}

.button-box{
    display: inline-block;
    cursor: pointer;
}

.button-box .bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1{
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2{
    opacity: 0;
}

.change .bar3{
    transform: rotate(45deg) translate(-8px, -8px);
}

.logo-text{
    color: black;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}

#icon-box{
    display: flex;
    flex-direction: row;
}
#icon-box span{
    display: inline-block;
}

#register{
    display: flex;
    justify-content: flex-end;
}
#register span.login{
    width: 50px;
    height: 25px;
    padding: 3px 5px;
    display: inline-block;
    background-color: tomato;
    transition: 0.4s;
    border-radius: 5px;
    margin: 0 5px;
}

[class="login"] a{
    text-decoration: none;
    padding: 3px 5px;
    color: white;
    text-align: center;
}

#register span.sign-up{
    width: 50px;
    height: 25px;
    padding: 5px;
    display: inline-block;
    background-color: tomato;
    transition: 0.4s;
    border-radius: 5px;
}

[class="sign-up"] a{
    text-decoration: none;
    padding: 5px;
    color: white;
    text-align: center;
}

#navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 0;
    transform: translate(0, 20px);
    transition: transform 0.7s ease, all 0.6s linear;
}

.navbar_menu{
    display: initial;
    transition: all 0.7s ease;
    height: 200px;
    overflow: hidden;
}


#nav-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    display: block;
    text-align: center;
    border-bottom: 1px solid black;
}
#nav-menu li a{
    text-decoration: none;
    display: block;
    transition: 0.4s;
    color: black;
}
#nav-menu li a:hover{
    background: red;
    transition: 0.4s;
    font-size: 1.3rem;
    color: black;

}


main{
    width: 100%;  
    margin: 30px 0 0 0;
    display: block;
}

/* main #foreground{
    background: url(img_business.jpg) right bottom no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
    background-clip: border-box;
}
*/

.block-text{
    display: block;
    padding-top: 150px;
}
.block-text blockquote{
    text-align: center;
    color: black;
    font-size: 1.7rem;
    text-decoration: underline;
}

.sub-block-text{
    color: black;
    font-size: 2rem;
    text-align: center;
}

#twobox{
    width: 100%;
    display: flex;
    flex-flow: wrap column;
}

#twobox .img_box{
    margin-top: 30px;
    width: 100%;
    height: 50%;
}
.img_box img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 3px 8px 16px gray;
    opacity: 0.8;
}

.about{
    display: flex;
    flex-direction: column;
}
.about span{
    display: inline-block;
    padding: 20px 0 0 0;
}
.about span blockquote{
    color: black;
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
}
.about span article{
    display: block;
    font-size: 1.5rem;
    padding: 10px;
}

#third-box{
    display: flex;
    flex-flow: wrap column;
    margin-top: 50px;
}
.sub_box{
    display: flex;
    flex-flow: wrap column;
}
.sub_box [class="service"]{
    display: inline-block;
    line-height: 20px;
    margin-top: 30px;
}
 span blockquote{
    text-align: center;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
}

[class="service_text"] {
    display: inline-block;
    padding: 5px;
}
[class="service_text"] p{
    color: black;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px;
}

#card_box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    margin-top: 30px;
    padding: 20px;
}

.card-box-1{
    width: 50%;
    height: 50%;
    box-shadow: 2px 4px 5px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.card-box-1 .card-box-img{
    width: 33.3%;
    height: 33.3%;
    object-position: center;
    object-fit: cover;
    margin-top: 10px;
    
}
.card-box-1 .card-box-img img{
    width: 50px;
    height: 50px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px auto;
    box-shadow: 2px 3px 5px gray;
}

.card-box-1 span{
    display: inline-block;
    font-size: 1.5rem;
    overflow: hidden;
}
.card-box-1 p{
    font-size: 1.5rem;
    padding-top: 20px;
    overflow: hidden;
}

.card-box-2{
    width: 50%;
    height: 50%;
    box-shadow: 2px 4px 5px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

}
.card-box-2 .card-box-img{
    width: 33.3%;
    height: 33.3%;
    object-position: center;
    object-fit: cover;
    margin-top: 10px;
    
}
.card-box-2 .card-box-img img{
    width: 50px;
    height: 50px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px auto;
    box-shadow: 2px 3px 5px gray;
}

.card-box-2 span{
    display: inline-block;
    font-size: 1.5rem;
    overflow: hidden;
}
.card-box-2 p{
    font-size: 1.5rem;
    padding: 20px;
    text-overflow: clip;
    overflow: hidden;
}

.card-box-3{
    width: 50%;
    height: 50%;
    box-shadow: 2px 4px 5px grey;
    display: block;
    justify-content: space-between;
    margin-top: 30px;
    padding: 20px;
}
.card-box-3 .card-box-img{
    width: 33.3%;
    height: 33.3%;
    object-position: center;
    object-fit: cover;
    margin-top: 10px;
    
}
.card-box-3 .card-box-img img{
    width: 50px;
    height: 50px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px auto;
    box-shadow: 2px 3px 5px gray;
}

.card-box-3 span{
    display: inline-block;
    font-size: 1.5rem;
}
.card-box-3 p{
    font-size: 1.5rem;
    padding-top: 20px;
    
}

.conclude{
    display: flex;
    background: black;
}
.conclude span{
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 768px){
    #card_box{
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: wrap row ;
        justify-content: space-evenly;
    }

    .card-box-1{
        width: 33.3%;
        height: auto;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
    }
    .card-box-1 .card-box-img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 33.3%;
    }
    .card-box-1 .card-box-img img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        object-position: center;
        justify-self: center;
        align-self: center;
    }

    .card-box-2{
        width: 33.3%;
        height: auto;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
    }
    .card-box-2 .card-box-img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 33.3%;
    }
    .card-box-2 .card-box-img img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        object-position: center;
        justify-self: center;
        align-self: center;
    }

    .conclude{
        text-align: center;
    }
    .conclude span{
        display: inline-block;
        text-align: center;
    }

}

@media screen and (min-width: 769px){

#big_head{
    width: 100%;
}    

#main-head{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: wrap row;
}
.button-box{
    display: none;
    order: 1;
}
.logo-text{
    order: 2;
    justify-self: flex-start;
    align-self: flex-start;
    
}

#register{
    align-self: center;
    order: 3;
    margin-left: 10px;
}

#navbar{
    display: flex;
    padding: 0;
    white-space: nowrap;
}

#nav-menu{
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    top: -70px;
    right: 10px;
    white-space: nowrap;
    padding: 0;
}

#nav-menu li{
    border: none;
    margin: 10px 40px;
    word-spacing: 0;
}
#nav-menu li a{
    font-size: 1.4rem;
    word-spacing: 0;
}

#twobox{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px 5px;
    height: 50%;
    width: 100%;
    
    
}
.img_box{
    width: 25%;
    height: 100%;
}
.img_box img{
    width: 90%;
    height: 100%;
    display: block;
    object-position: center;
    object-fit: cover;
}

#twobox .about{
    width: 50%;
    height: 25%;
    display: flex;
    flex-flow:  wrap row;

}

.about span{
    width: 100%;
    display: flex;
    column-count: 1;
    text-align: center;
    padding: 5px;
    display: block;
}

.about span blockquote{
    text-align: center;
    display: block;
    padding: 10px;
    font-size: 1.7rem;
}

#card_box{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.card-box-1{
    width: 30%;
}
.card-box-2{
    width: 30%;
}
.card-box-3{
    width: 30%;
}


}